<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Car List</h1>
<table>
    <tr>
        <th>mark</th>
        <th>model</th>
        <th>horsePower</th>
    </tr>
    <tr th:each="CAR : ${car}">
        <td th:text="${CAR.getMark()}"></td>
        <td th:text="${CAR.getModel()}"></td>
        <td th:text="${CAR.getHorsePower()}"></td>
    </tr>
</table>
</body>
</html>